
{{>menu}}

  <!-- banner start -->
  <div class="containr-fluid bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 invest p-2 mt-4 ">
          <h1>Secret Page</h1>
          <h6 class="mt-2">Earn monthly rents and benefit from capital appreciation</h6>
          <a href="#"><Button class="btn btn-success p-2 mt-4 px-4">View Opportunities</Button></a>
        </div>
        <div class="col-md-6 p-2 mt-4">
          <a href="#"><img class="img-fluid" src="./images/bg5.png" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- counter start -->
  <div class="container-fluid text-center counter py-5 bg-light text-black">
    <div class="container">
      <h2>Who We Are</h2>
      <p>India's 1st and largest tech-enabled commercial property listing platform</p>
      <div class="row pt-4">
        <div class="col-sm-4">
          <h3>$1 billion</h3>
          <p>Investment Experience</p>
        </div>
        <div class="col-sm-4">
          <h3 data-max="820">₹ Crs</h3>
          <p>Properties Funded</p>
        </div>
        <div class="col-sm-4">
          <h3 data-max="100000">+</h3>
          <p>Users</p>
        </div>
      </div>
    </div>
  </div>
  <!-- counter end -->

  <!-- slick swiper slider start -->
  <div class="container-fluid">
    <div class="container">
      <div class="row py-5">
        <h2 class="text-center">What Users Are Saying:</h2>
        <p class="text-center">Property Share users come from 20+ countries spread across 5 continents.</p>
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
            <div class="swiper-slide"><img src="./images/bg4.jpg"></div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <center><a href="#"><button class="btn btn-success mt-4">Get Started</button></a></center>
      </div>
    </div>
  </div>
    <!-- slick swiper slider end -->

    <!-- card start -->
    <div class="container-fluid text-center bg-light pt-5">
      <div class="container">
        <h3 class="text-center">Who We Do</h2>
          <p class="text-center">A tech platform that provides its users access to institutional grade commercial real
            estate with property management and liquidity through resale.</p>
          <div class="row py-5">
            <div class="col-md-4 card pb-4 mt-2">
              <i class="fa-solid fa-key fa-2x"></i>
              <h5 class="my-4">Access</h5>
              <p>to vetted Grade A commercial real estate with 8-10% yields and 17-20% projected returns</p>
            </div>
            <div class="col-md-4 card pb-4 mt-2">
              <i class="fa-solid fa-droplet fa-2x"></i>
              <h5 class="my-4">Liquidity</h5>
              <p>through access to a separate proprietary resale platform</p>
            </div>
            <div class="col-md-4 card pb-4 mt-2">
              <i class="fa-solid fa-wrench fa-2x"></i>
              <h5 class="my-4">Asset Management</h5>
              <p>active asset management including leasing and property management to increase value</p>
            </div>
            <a href="#"><button class="btn btn-success mt-4">Get Started</button></a>
          </div>
      </div>
    </div>
    <!-- card end -->


    <div class="container-fluid">
      <div class="container">
        <div class="row py-5">
          <p class="text-center">Property Share is backed by three marquee venture capital investors from the US, Japan
            and India.</p>
          <img id="img" class="img-fluid" src="./images/1.png">
        </div>
      </div>
    </div>


    <div class="container-fluid py-5 bg-light">
      <div class="container">
        <h3 class="text-center">Why Property Share</h3>
        <p class="text-center">Property Share is run by professionals with >$1 bn of institutional investment experience
          across 33 mn sf.</p>
        <div class="row mt-5">
          <div class="col-md-4 scroll_class1">
            <div class="col-md-12 p-5 card1">
              <h4>Rigorous Due-Diligence</h4>
              <p>We use Tier 1 law firms to identify and mitigate legal risks</p>
            </div>
            <div class="col-md-12 p-5">
              <h4>High Listing Standards</h4>
              <p>We list less than 2% of investments we analyse</p>
            </div>
          </div>
          <div class="col-md-4 d-flex">
            <div class="col-md-2 scroll_class1">
              <div class="card1 py-5">
                <p>------</p>
              </div>
              <div class="card2 py-5">
                <p>------</p>
              </div>
            </div>
            <div class="col-md-8">
              <img class="w-100" id="img2" src="./images/fuel.svg" alt="">
            </div>
            <div class="col-md-2 scroll_class2">
              <div class="card3 py-5">
                <p>------</p>
              </div>
              <div class="card4 py-5">
                <p>------</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 scroll_class2">
            <div class="col-md-12 p-5 card3">
              <h4>Stringent Criteria</h4>
              <p>8-10% yields with blue chip tenants</p>
            </div>
            <div class="col-md-12 p-5">
              <h4>Institutional Analysis</h4>
              <p>You get access to institutional grade analysiss</p>
            </div>
          </div>
          <center><a href="#"><button class="btn btn-success">Get Started</button></a>
            <a href="#"><button class="btn btn-success ">Get Started</button></a>
          </center>
        </div>
      </div>
    </div>


    <div class="container-fluid py-5">
      <div class="container">
        <div class="row">
          <h3 class="text-center">The Tech Edge</h3>
          <p class="text-center">Get access to data-driven insights and quantitative analytics on your property
            portfolio.</p>
          <div class="col-md-6 tech_image mt-4">
            <img class="w-100" src="./images/tech.png" alt="">
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid py-5 bg-light">
      <div class="container">
        <div class="row">
          <h3 class="text-center">In the News</h3>
          <!-- Swiper -->
          <div class="col-md-6 swiper1 mySwiper1 mt-5">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img class="w-100" src="./images/bg2.jpg"></div>
              <div class="swiper-slide"><img class="w-100" src="./images/bg1.jpg"></div>
              <div class="swiper-slide"><img class="w-100" src="./images/bg3.jpg"></div>
              <div class="swiper-slide"><img class="w-100" src="./images/bg4.jpg"></div>
              <div class="swiper-slide"><img class="w-100" src="./images/bg1.jpg"></div>
              <div class="swiper-slide"><img class="w-100" src="./images/bg2.jpg"></div>
              <div class="swiper-slide"><img class="w-100" src="./images/bg3.jpg"></div>
              <div class="swiper-slide"><img class="w-100" src="./images/bg4.jpg"></div>
              <div class="swiper-slide"><img class="w-100" src="./images/bg1.jpg"></div>
            </div>
          </div>
          <!-- Swiper JS -->
        </div>
      </div>
    </div>


    <div class="container-fluid py-5">
      <div class="container">
        <div class="row ">
          <h3 class="text-center">Our Select Listings</h3>
          <p class="text-center">Our listings are spread across Grade A properties leased to blue-chip multinationals in
            Bangalore, Mumbai, Hyderabad and Pune.</p>
          <!-- Swiper -->
          <div class="swiper2 mySwiper2 ">
            <div class="swiper-wrapper w-25">
              <div class=" swiper-slide bg-light ">
                <a href="#">
                  <div class="col-md-12">
                    <img class="img-fluid" src="./images/bg6.jpg" />
                  </div>
                  <div>
                    <div>
                      <h5 class="py-2">Embassy Bussiness Hub,<s>Bangalore</s></h5>
                    </div>
                    <div class="dis">
                      <div class="col-md-4">
                        <p>Property</p>
                        <h6>143 Cr</h6>
                      </div>
                      <div class="col-md-4">
                        <p>Floor area</p>
                        <h6>1,74,497 SF</h6>
                      </div>
                      <div class="col-md-4">
                        <p>Rental Yields</p>
                        <h6>10%</h6>
                      </div>
                    </div>
                  </div>
              </div>
              </a>

              <div class=" swiper-slide bg-light">
                <a href="#">
                  <div class="col-md-12">
                    <img class="img-fluid" src="./images/bg7.jpg" />
                  </div>
                  <div>
                    <div>
                      <h5 class="py-2">Embassy Bussiness Hub,<s>Bangalore</s></h5>
                    </div>
                    <div class="dis">
                      <div class="col-md-4">
                        <p>Property</p>
                        <h6>143 Cr</h6>
                      </div>
                      <div class="col-md-4">
                        <p>Floor area</p>
                        <h6>1,74,497 SF</h6>
                      </div>
                      <div class="col-md-4">
                        <p>Rental Yields</p>
                        <h6>10%</h6>
                      </div>
                    </div>
                  </div>
              </div>
              </a>

              <div class="swiper-slide bg-light">
                <a href="#">
                  <div class="col-md-12">
                    <img class="img-fluid" src="./images/bg8.jpg" />
                  </div>
                  <div>
                    <div>
                      <h5 class="py-2">Embassy Bussiness Hub,<s>Bangalore</s></h5>
                    </div>
                    <div class="dis">
                      <div class="col-md-4">
                        <p>Property</p>
                        <h6>143 Cr</h6>
                      </div>
                      <div class="col-md-4">
                        <p>Floor area</p>
                        <h6>1,74,497 SF</h6>
                      </div>
                      <div class="col-md-4">
                        <p>Rental Yields</p>
                        <h6>10%</h6>
                      </div>
                    </div>
                  </div>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container-fluid bg-light py-5">
      <div class="container">
        <div class="row">
          <h3 class="text-center">Tenant Profile</h3>
          <p class="text-center">We focus on properties leased only to marquee multinational tenants.</p>
          <img class="mt-3 center" src="./images/2.png" alt="">
        </div>
      </div>
    </div>

    <div class="container-fluid py-5">
      <div class="container">
        <div class="row">
          <h3 class="text-center">Our Partners / Advisors</h3>
          <p class="text-center">We work with some of the most well-known names in the industry.</p>

          <div class="col-md-3 px-4 client">
            <img src="./images/3.png" alt="">
            <p class="py-2">Accounting & Structuring Advisor</p>
          </div>
          <div class="col-md-6 px-4 client mt-5">
            <img src="./images/4.png" alt="">
            <p class="ps-4 py-2">Auditor</p>
            <center><a href="#"><button class="btn btn-success px-4 mt-2">Sign Up</button></a>
              <a href="#"><button class="btn btn-success mt-2">View Opportunities</button></a>
            </center>
          </div>
          <div class="col-md-3 px-4 client">
            <img src="./images/5.png" alt="">
            <p class="ps-4 py-2">Bankers</p>
          </div>

        </div>
      </div>
    </div>
    <hr>

    <!-- review started -->
    <div class="container-fluid py-5">
      <div class="container">
        <h3 class="text-center"><img id="google_img" class="img-fluid" src="./images/google.svg" alt=""> Reviews of
          Users</h3>
        <div class="row mt-5">
          <div class="col-md-4 mt-2">
            <article class="review">
              <div class="img-container">
                <img src="https://res.cloudinary.com/diqqf3eq2/image/upload/v1586883334/person-1_rfzshl.jpg" alt=""
                  id="person-img" />
              </div>
              <h4 id="author">sara jones</h4>
              <p id="job">ux designer</p>
              <p id="info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                asperiores debitis incidunt,
              </p>
              <div class="button-container">
                <button class="prev-btn btn-1">
                  <i class="fas fa-chevron-left"></i>
                </button>
                <button class="next-btn btn-1">
                  <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </article>
          </div>
          <div class="col-md-4 mt-2">
            <article class="review">
              <div class="img-container">
                <img src="https://res.cloudinary.com/diqqf3eq2/image/upload/v1586883334/person-1_rfzshl.jpg" alt=""
                  id="person-img" />
              </div>
              <h4 id="author">sara jones</h4>
              <p id="job">ux designer</p>
              <p id="info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                asperiores debitis incidunt,
              </p>
              <div class="button-container">
                <button class="prev-btn1 btn-1">
                  <i class="fas fa-chevron-left"></i>
                </button>
                <button class="next-btn1 btn-1">
                  <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </article>
          </div>
          <div class="col-md-4 mt-2">
            <article class="review">
              <div class="img-container">
                <img src="./images/bg4.jpg" alt="" id="person-img" />
              </div>
              <h4 id="author">sara jones</h4>
              <p id="job">ux designer</p>
              <p id="info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
                asperiores debitis incidunt,
              </p>
              <div class="button-container">
                <button class="prev-btn btn-1">
                  <i class="fas fa-chevron-left"></i>
                </button>
                <button class="next-btn btn-1">
                  <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <!-- review end -->
{{>footer}}