
    <!-- footer start -->
    <div class="container-fluid py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-10 row foot">
            <div class="col-md-3 col-5">
              <li><b>Company</b></li>
              <li>Opportunities</li>
              <li>About Us</li>
              <li>How it Works</li>
              <li>Contact Us</li>
            </div>
            <div class="col-md-3 col-7 px-3">
              <li><b>Other</b></li>
              <li>FAQs</li>
              <li>Knowledge Centre</li>
              <li>Webinars</li>
              <li>Investor Profiles</li>
            </div>
            <div class="col-md-3 col-12">
              <li><b>Knowledge Centre</b></li>
              <li>Commercial Property for NRIs</li>
              <li>10 Commandments of Real Estate</li>
              <li>How leases are structured</li>
              <li>Why Commercial Real Estate</li>
            </div>
            <div class="col-md-3 col-12">
              <li><b>Legal</b></li>
              <li>Terms of Use</li>
              <li>Privacy Policy</li>
              <li>Annual Return 2020-21</li>
            </div>
          </div>
          <div class="col-md-2 icon">
            <i class="fa-brands fa-facebook-f fa-2x"></i>
            <i class="fa-brands fa-twitter fa-2x"></i>
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-linkedin fa-2x"></i>
            <i class="fa-brands fa-youtube fa-2x"></i>
          </div>
          <div class="col-md-10 mx-auto mt-5 text-center">
            <p>PropertyShare Online Platform Private Limited | Corporate identity number - U70102KA2016PTC085151. For
              any complaints please write to
              Hashim Khan at grievance@propertyshare.in</p>
            <p>Property Share does not make any representation regarding the suitability of the opportunities that
              appear on the Platform. Nothing on the Platform should be construed as investment, business, legal or tax
              advice or constitutes an offer for service or assistance with investment in real estate assets. Listing of
              details relating to the opportunities on the Platform or any content contained on the Platform does not
              constitute an offer by Property Share to sell, solicit or make an offer to participate in the
              opportunities. No information or content available on the Platform should be construed as a solicitation
              of an offer to buy or sell any property. Any decision to make direct or indirect investments in real
              estate assets involves significant risks including risk of loss of capital, and all such decisions should
              be made only after seeking independent legal, business and tax advice. No Governmental Agency nor Property
              Share guarantee or assure any returns to any person using the Platform.</p>
            <p>Copyright © PropertyShare Online Platform Private Limited</p>
          </div>
        </div>
      </div>
    </div>
    <!-- footer end -->
    
    <!-- counter cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- counter cdn end -->

    <!-- Swiper JS cdn -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!-- swiper js cdn end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>

    <script src="js/script.js"></script>

</body>

</html>